*.name
/idea
/target
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/Maven__org_lwjgl_lwjgl_1.xml
.idea/libraries/Maven__org_lwjgl_lwjgl_util_1.xml
.idea/modules.xml
target/classes/com/khamekaze/fejkathegame/game/Game.class
.idea/workspace.xml
*.class
FEJKAtheGame.iml
*.class
.idea/libraries/Maven__org_slick2d_slick2D_2_9.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/misc.xml
target/classes/com/khamekaze/fejkathegame/game/Game.class
.idea/uiDesigner.xml
target/classes/com/khamekaze/fejkathegame/game/Game.class